<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="res/vendor/css/ionicons.min.css">
    <link rel="stylesheet" href="res/css/styles.css">
    <title>Home - Shopmart</title>
</head>
<body>
    <header>
        <nav>
            <h1 class="logo"><a href="/">Shopmart</a></h1>
            <ul class="main-nav">
                <li><a href="/admin/add-product">Add Product</a></li>
                <li><a href="/products">Products</a></li>
                <li><input type="text" placeholder="&#128269; Search everything at Shopmart online and in store" class="search-input"></li>
                <li><a href="/users">Users</a></li>
                <li><a href="#">Sign in</a></li>
                <li><a href="#">Sign Up</a></li>
            </ul>
        </nav>
    </header>

    <div class="location">
        <span><i class="ion-ios-home-outline i-center"></i> Fairfield Supercenter | <i class="ion-ios-location-outline i-center"></i> Fairfield 52557</span>
    </div>

    <section class="top-deals">
        <div class="row">
            <h4>Top Deals</h4>
        </div>
    </section>

    <section class="good-deals">
        <div class="row s-good-deals">
            <h4>Seriously good deals</h4>
            <div class="good-grid-container">
                <div class="electronics">
                    <img src="res/img/s-good-1.jpg" alt="electronics">
                    <span>Up to 25% off electronics</span>
                </div>
                <div class="toys">
                    <img src="res/img/s-good-2.jpg" alt="toys">
                    <span>Up to 30% off toys & ride-ons</span>
                </div>
                <div class="kitchen">
                    <img src="res/img/s-good-3.jpg" alt="kitchen">
                    <span>kitchen deals from $20</span>
                </div>
                <div class="fashion">
                    <img src="res/img/s-good-2.jpg" alt="kitchen">
                    <span>Up to 60% off fashion</span>
                </div>
            </div>
        </div>
    </section>

    <section class="deals-for-you">
        <div class="row">
            <h4>For you</h4>
            <div class="for-u-grid-container">
                <div class="cooking">
                    <img src="res/img/for-u3.jpg" alt="cooking">
                    <span><strong>Get cooking & save</strong><br> Ace mealtime with hot deals on kitchen appliances <br><button>Shop now</button></span>
                </div>
                <div class="laptops">
                    <img src="res/img/for-u1.jpg" alt="laptops">
                    <span><strong>Smart deals on laptops</strong> <br> Upgrade with low prices on top brands <br><button>Shop now</button></span>
                </div>
                <div class="floor-care">
                    <img src="res/img/for-u2.jpg" alt="floor care">
                    <span><strong>floor care finds</strong> <br>Sweep up savings on top mops, vaccums, & more<br><button>Shop now</button></span>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="row">
            <div class="clearfix">
                <div class="footer-nav">
                    <ul class="footer-nav-links">
                        <li><a href="#">About</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Press</a></li>
                    </ul>
                </div>

                <div class="social-link">
                    <ul class="social-links">
                        <li><a href="https://www.facebook.com/"><i class="ion-social-facebook-outline"></i></a></li>
                        <li><a href="https://twitter.com/"><i class="ion-social-twitter-outline"></i></a></li>
                        <li><a href="https://plus.google.com/discover"><i class="ion-social-googleplus-outline"></i></a></li>
                        <li><a href="https://www.instagram.com/"><i class="ion-social-instagram-outline"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <p> 
                &copy; Copyright 2021 Shopmart<br>
                All rights reserved. &nbsp; <a href="#">Privacy Policy</a> • <a href="#">Terms of Use</a>
            </p>
        </div>
    </footer>
</body>
</html>